<a href="https://colab.research.google.com/github/SantiagoJimenezOrtega/DeepLearning/blob/main/P1T1_PYTHON_BASIC_ESJO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Mayor de 3 numeros

In [ ]:
num1,num2,num3 = input("Ingrese los tres numeros separados por una coma: ").split(",")
print("El numero mayor de los ingresados es: "+ str(max(num1,num2,num3)))

Ingrese los tres numeros separados por una coma: 6,7,2
El numero mayor de los ingresados es: 7

##Suma de N numeros ingresados

In [ ]:
suma=0
for i in range(0, int(input("Ingrese la cantidad de numeros que desea sumar: "))):
  suma+=int(input("ingrese el valor del numero "+ str(i+1) + ": "))
print("El total de la suma es igual a "+ str(suma))

Ingrese la cantidad de numeros que desea sumar: 3
ingrese el valor del numero 1: 5
ingrese el valor del numero 2: 5
ingrese el valor del numero 3: 2345
El total de la suma es igual a 2355

##Imprimir numeros pares entre dos numeros

In [ ]:
for i in range(int(input("Numero menor: ")),int(input("Numero mayor: "))):
  if ( (i%2)==0 ): print("El numero par : " + str(i) )

Numero menor: 4
Numero mayor: 50
El numero par : 4
El numero par : 6
El numero par : 8
El numero par : 10
El numero par : 12
El numero par : 14
El numero par : 16
El numero par : 18
El numero par : 20
El numero par : 22
El numero par : 24
El numero par : 26
El numero par : 28
El numero par : 30
El numero par : 32
El numero par : 34
El numero par : 36
El numero par : 38
El numero par : 40
El numero par : 42
El numero par : 44
El numero par : 46
El numero par : 48

##Imprimir listas concatenadas

In [ ]:
listaBase= [1,2,3,4,5,6,7,8,9,10,11,12]
listaReverse = [12,11,10,9,8,7,6,5,4,3,2,1]
print(listaBase+listaReverse)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##10 Numeros random entre 1 y 100

In [ ]:
import random
for i in range(10):print(random.randrange(100))

81
75
22
8
86
27
43
92
74
18

##Ultimo ejercicio Poblacion

In [ ]:
import random
poblacion = random.randrange(1000,50000)
edades=[]
cont=0
for i in range(0,poblacion):
  edades.append(random.randrange(100))

for i in range(0, poblacion):
  if((edades[i]) >= 18):
    cont += 1
print("La Poblacion total es de "+ str(poblacion) +", el porcentaje de gente mayor de 18 a単os es de " + str((cont*100)/poblacion)+ " %, y el porcentaje de personas menores de 18 a単os es de "+str(100-((cont*100)/poblacion)))

La Poblacion total es de 22709, el porcentaje de gente mayor de 18 a単os es de 82.30657448588666 %, y el porcentaje de personas menores de 18 a単os es de 17.693425514113343